/* banner styles */

.banner-pic {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Banner Image.png");
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;

    background-size: cover;
}

.banner-caption {
    text-align: center;
    display: flex;
    color: #FFFFFF;
    padding: 0 16px;
    flex-direction: column;
    gap: 16px;

}

.banner-caption p {
    margin: 0;
}

.happy {
    font-family: "Merriweather", serif;
    font-size: 32px;

}

.party {
    font-family: "Merriweather", serif;
    font-size: 72px;


}