/* banner styles */
.banner-section {
    margin: 50px 140px 120px 140px;

}

.banner-pic {
    background:
        linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/Banner Image.png");
    max-width: 1320px;
    height: 600px;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1E1E1E;

}

.banner-caption {
    text-align: center;
    display: flex;
    color: #FFFFFF;
    flex-direction: column;
    gap: 16px;

}

.banner-caption p {
    margin: 0;
}

.happy {
    font-family: "Merriweather", serif;
    font-size: 32px;

}

.party {
    font-family: "Merriweather", serif;
    font-size: 72px;


}

/* main styles */
.new-year-section {
    margin-top: 120px;
}

.new-year-content {
    text-align: center;
}

.new-year-content h1 {
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: bold;
    margin-bottom: 49px;

}

.holiday,
.title {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 600;


}

.categories {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #070211;
    margin-top: 16px;
}

/* welcome section */
.welcome-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

.midnight-party h1 {
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;


}

.party-description {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: darkgrey;
}

.midnight-party button {
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    margin-top: 35px;
    padding-left: 35px;
    background-color: transparent;
    color: #FFFFFF;

}

.img-24 {
    width: 300px;
    height: 450px;
    padding: 65px 135px 65px 35px;
}

/* time section */
.time-section {
    background: linear-gradient(rgb(247, 217, 217), rgba(173, 83, 83, 0));
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;


}

.time-content {
    text-align: center;
    padding: 100px 380px 110px 380px;
}

.elements-color {
    color: #FF0000;
}

.place,
.date,
.time {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 600;
    color: #070211;
    margin: 16px 0;

}

.btn-join {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #FF0000;
    color: #FFFFFF;
    padding: 16px 32px;
    margin-top: 48px;
}

/* offer section styles */
.offer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    height: 460px;
    margin: 0 auto;
    margin-top: 120px;

}

.title-coming {
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 23px;
    margin-bottom: 22px;
}

.offer-img {
    border: 2px solid #FF0000;
    width: 363px;
    height: 363px;
    padding: 49px;
    border-radius: 50%;
    border-width: 15px;
    margin: 0 auto;
}

.title-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);

}

.year {
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
    margin-top: 112px;
    margin-bottom: 0;
}

.year-description {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: rgba(7, 2, 17, 0.6);
    margin-bottom: 43px;
}